<div class = 'container mt-1'>
    <h1 class= "nav-title">Live Code Collab</h1>
    <p class = "descp">
        A live realtime collaborative coding platform.
    </p>
    <p class = 'main-text'>


        Collab with your friends, colleagues and code together in realtime!.
        You can use it to conduct interviews, help your friend debug some code, explaining the working of a code and much more.
        Basically it makes learning programming together much easy and fun!.


    </p>
    <br>
    <div class="row justify-content-center">
        {{#if user}}
        {{else}}
      <a href="/register" class=' m-1' >  <button class = " p-2 main-text gets m-auto btn btn-primary
         " > Get Started </button>
        </a>
        {{/if}}
        <a href="/createTask" class='m-1 '> <button class=" p-2 main-text gets m-auto btn btn-primary
                     "> Create a Collab </button>
        </a>
    </div>
    
    <p class='main-text'>
        <h2>UpComming Features :</h2>
        <ul>
                <li>BuildIn Judge to test your code on inputs . </li>

                <li>Access all the collabs you ever created! . </li>


        </ul>
        </p>
        <div class = "main-text">
        You can find this on <a href="https://github.com/pawankholiya01/Live-Code-Collab">
            <div class="dim2">Github Here!</div></a> <br>
       
        This application is created by me (Pawan Kholiya ) in an attempt to make learning programming together <div class="dim2"> easy </div> and <div class="dim2">fun</div>!.<br>

                For any <div class="dim2">suggesstions </div>, <div class="dim2">issues</div> and <div class="dim2">collaborations</div>
                write to me at <a href="mailto:pawan.kholiya01@gmail.com">pawan.kholiya01@gmail.com</a> or message me on <a href="https://www.linkedin.com/in/pawan-kholiya/">
                    <div class="dim2">LinkedIn.</div> </a>. I
                will be more than happy to hear from you 😁.
        </div>


    


    
</div>


